name: Node CI

on:
  pull_request:
  push:
    branches: ["main"]

  permissions:
    contents: read
    packages: write

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Run tests (CI)
        run: npm run test:ci

  build:
    name: Build artifact
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist-build
          path: dist/

  package:
    name: Package from artifact
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: dist-build
          path: dist

      - name: Verify artifact contents
        run: |
          echo "Listing dist folder:"
          ls -la dist
          echo "Build info file:"
          cat dist/build-info.txt

  docker-push:
    name: Build & Push Docker image (GHCR)
    runs-on: ubuntu-latest
    needs: package

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set image name
        run: echo "IMAGE=ghcr.io/${{ github.repository }}" >> $GITHUB_ENV

      - name: Set tags
        run: |
          echo "TAG_SHA=${GITHUB_SHA}" >> $GITHUB_ENV
          echo "TAG_LATEST=latest" >> $GITHUB_ENV

      - name: Build image
        run: |
          docker build -t ${IMAGE}:${TAG_SHA} -t ${IMAGE}:${TAG_LATEST} .

      - name: Push image
        run: |
          docker push ${IMAGE}:${TAG_SHA}
          docker push ${IMAGE}:${TAG_LATEST}
